* {
	padding:0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Cabin', sans-serif;
	scroll-behavior: smooth;
}
/*Start of Navigation Bar*/
.openbtn {
	font-size: 30px;
	cursor: pointer;
	position: fixed;
	color: #fff;
	background-color: #800000;
	padding: 5px;
	border-radius: 0 0 5px 0;
	z-index: 100;
}
.closebtn {
	font-size: 30px;
	text-decoration: none;
	font-weight: bolder;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #800000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav > a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}	

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
  /*End of Navigation Bar*/

 /*Start of Front Page*/
header {
	height: 100vh;
	background: url(../images/main-background.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.front-page {
	height: 100%;
	color: #fff;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	font-size: 18px;
}

/*About us*/
#about-us {
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.about-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0;
	color: #5e615e;
}
.about-text > h1 {
	text-align: center;
} 
.about-container > .left, .right {
	margin: 10px;
}
.left img{
	height: 250px;
}
.right img{
	height: 100px;
}
.about-container > .right p{
	font-size: 13px;
	width: 150px;
}

/*Food Navigation*/
#foodnav {
	background-color: #800000;	
}
#foodnav > nav, li, a {
	font-size: 10px;
	padding: 6px;
	display: inline;
	text-decoration: none;
	color: white;
	text-align: center;
	font-size: 12px;
}
#foodnav a:hover {
	background-color: white;
	color: #800000;
}

/*Food List*/
#main-food-container {
	height: 85vh;
	margin-top: 20px;
}
.food {
	margin: 20px 25px;
	position: relative;
	width: 140px;
    height: 225px;
    text-align: center;
    background-color: #800000;
    color: white;
}
.food img {
	width: 140px;
}
.food p {
	margin-top: 7px;
	font-size: 10px;
}
.food-row {
	display: flex;
	align-items: center;
	justify-content: center;
}
/*.image {
	display: block;
	width: 100%;
	height: auto;
}*/

.overlay {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: #04040457;
	overflow: hidden;
	width: 100%;
	height:0;
	transition: .5s ease;
}

.food:hover .overlay {
	bottom: 0;
	height: 100%;
}

button {
	color: #800000;
	background-color: #fff;
	border-radius: 10px;
	position: absolute;
	padding: 0 20px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 9px;
}
button:active {
	background-color: #800000;
}

/*Drinks*/
#drinks {
	height: 100vh;
}	
#drinks > .drinks-background {
	height: 40%;
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../images/drinks-background.jpeg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items:center;
	justify-content: center;
	background-attachment:fixed;
	color: #fff;
}
.drinks-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 40px;
}
.drinks-content > p {
	color: #5e615e;
	width: 80%;
	margin: 20px 0;
	text-align: center;

}
.drinks-content > .fas{
	font-size: 20px;
	color: #2EE59D;
	padding:20px;
	background-color: #eee;
	border-radius: 50%;
}
.drinks-content > .fas:hover {
	background-color: #2EE59D;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #fff;
	transform: translateY(-7px);
}
.drinks-content > img {
	max-height: 170px;
}

/*Testimonial*/
#testimonial {
	height: 100vh;
}
.testimonial-content {
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	text-align: center; 
}
#testimonial > .testimonial-bg {
	height: 40%;
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../images/testimonial-bg.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items:center;
	justify-content: center;
	background-attachment:fixed;
	color: #fff;
}

.testimonial-content img{
	height: 50px;
	border-radius: 50%;
	margin-top: 30px;
}
.testimonial-content h3 {
	color: #ffca00;
	font-family: 'Pacifico', cursive;
}
.checked {
  color: orange;
}
.testimonial-content p {
	margin-top: 30px;
	color: #5e615e;
}
/*Contact us*/
#contact-us {
	height: 100%;
	background-color: #6e6e6e;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#contact-us form {
	display: flex;
	flex-direction: column;
	margin: 0 10px;
}
.contact-form > div {
	text-align: center;
}
.contact-form h2 {
	color: #ffca00;
	margin-bottom: 20px;
}
.contact-form {
	margin: 20px 0;
}
form {
	background-color: #eae6ea;
	border-radius: 10px;
	font-size: 12px;
	color: #5e615e;
}
form label, input {
	padding: 5px 0;
}
form input, label {
	margin: 0 10px;
	border-radius: 5px;
}
form input, textarea {
	background-color: #c7d0d8;
}
textarea {
	margin: 0 10px;
}
.check-box {
	display: flex;
}
/*Contact Details*/
.contact-details {
	height: 100px;
	background-color: #800000;
	display: flex;
	align-items: center;
}
.contact-details .left {
	width: 50%;
	margin-left: 20px;
}
.contact-details .left p{
	color: white;
	font-size: 10px;
	margin
}
.contact-details .left h2{
	color: #ffca00;
}
.contact-details > .right{
	position: relative;
	top: 5px;
	transform: translateY(-50%);
	width: 50%;
	text-align: center;
}
.contact-details > .right p {
	color: #fff;
}
.btn{
	display: inline-block;
	background: #f1f1f1;
	border-radius: 30%;
	box-shadow: 0 5px 15px -5px #00000070;
	color: #3498db;
	overflow: hidden;
	position: relative;
}
.btn i{

	transition: 0.2s linear;
}
.btn:hover i{
	transform: scale(1.3);
	color: #f1f1f1;
}
.btn::before{
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background: #3498db;
	transform: rotate(45deg);
	left: -110%;
	top: 90%;
}
.btn:hover::before{
	animation: aaa 0.7s 1;
	top: -10%;
	left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}
.news-letter {
	position: relative;
	top: 15px;
}
.news-letter > .btn-newsletter {
	border-color: #fff;
	border-radius: 0;
}
.news-letter > .btn-newsletter:hover {
	background-color: #3498db; 
}
